{% extends 'blog/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

</head>
{% block content %}
    <div class="chat-header">
      <div class="profile-image">
      </div>
      <div class="contact-name" id="contact-name">{{nome}}</div>
      <div class="circle-container">
        <div class="circle-text"><i class="fa-light fa-video" style="color: #ffffff;"></i></div>
      </div>
      <div class="circle-container">
        <div class="circle-text"><i class="fa-regular fa-phone" style="color: #ffffff;"></i></div>
      </div>
      <div class="circle-container">
        <div class="circle-text"><i class="fa-light fa-info" style="color: #ffffff;"></i></div>
      </div>
    </div>
    <div class="message-container" id="chat-container">
  
    </div>
    <div class="input-container">
      <div class="circle-container">
        <div class="circle-text"><i class="fa-light fa-paperclip" style="color: #ffffff;"></i></div>
      </div>
      <div class="circle-container">
        <div class="circle-text"><i class="fa-light fa-microphone" style="color: #ffffff;"></i></div>
      </div>
      <div class="circle-container">
        <div class="circle-text"><i class="fa-regular fa-face-smile fa-spin-pulse" style="color: #ffffff;"></i></div>
      </div>
    <div id="messageBox" cols="100" rows="20"></div><br>
    <input id="chat-message-input" type="text" size="30"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    </div>
  </div>
  </div>
</html>

{% endblock %}